<div class="row m-t-10 m-l-10 m-r-0">
	<div class="col-md-3">
		<h2><span class="glyphicon glyphicon-user f-c-accent-100 m-r-10"></span>Band members</h2>
	</div>
</div>

{{#each}}
{{#unless pastMember}}
<div class="member row m-l-10 m-r-0">
	<div class="col-md-4 col-sm-4 col-xs-6">
		<img style="display: inline-block;" class="member-photo p-20" {{bind-attr src=photoUrl}}>
	</div>
	<div class="col-sm-8 col-md-8 col-xs-6 p-20">
		<h4><strong>{{firstName}} {{lastName}}</strong></h4>
		<h5>{{instrument}}</h5>
		<p>{{bio}}<p>
	</div>
</div>
{{/unless}}
{{/each}}

